<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <title>Burger Paradise Menu</title>
</head>

<body>
    <img src="../../public/assets/img/burger.jpg" width="400px" id="cute_burger">

    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© 2020 zachthomas5454 entertainment</span>
                <a class="grey-text text-lighten-4 right" href="https://github.com/zachthomas5454">Reference Work</a>
            </div>
        </div>
    </footer>
</body>

</html>